DATABASE_URL="postgresql://USUARIO:PASSWORD@HOST:PUERTO/NOMBRE_DATABASE?schema=public"
CLOUDINARY_API_KEY=237258473255411
CLOUDINARY_API_SECRET=8NB3ng7L5phILjSs1C_sZ3jekXc
CLOUDINARY_CLOUD_NAME=lensbymike`

# SMTP — contact form
MAIL_HOST="smtp.gmail.com"
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER="you@gmail.com"
MAIL_PASS="your-app-password"
MAIL_TO="your-inbox@gmail.com"